.new-arrivels .card .arrivels-img
{
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.new-arrivels .react-tabs__tab--selected
{
background-color: #C2962D !important;;
color: white;
}
.new-arrivels .react-tabs__tab{
    transition: transform .6s;
    margin: 0px 10px;
}
.new-arrivels .react-tabs__tab:hover:not(.react-tabs__tab--selected){
    transform: translateY(-5px);
    color: #ffff;
    background:#C2962D ;
}
.new-arrivels .card
{
    border: none;
}
.new-arrivels .card-cont
{
    padding: 10px ;
    background-color: transparent;
    position: relative;
    margin-top: -50px;
    text-align: center;
    color: #fff;
}