body
{
  color: black;
  background: #fff;
  padding: 0px;
  margin: 0px;
}
.bg-white
{
  background-color: #fff;
}
.bg-orange
{
  background-color: #C2962D;
}
section
{
  padding: 60px 0px;
}
.anim-slow
{
  transition: transform .6s;
}
.anim-slow:hover
{
  transform: translateY(-5px);

}
.anim-effect
{
  transition: transform .6s;
}
.anim-effect:hover
{
  transform: translateY(-3px);

}